In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.preprocessing import StandardScaler
import pickle
import tensorflow as tf
from tensorflow.keras.models import load_model

WARNING:tensorflow:From d:\Krish Naik_ML_DL_NLP_Udemy Course\ETNDL_ANNN_CLF\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [5]:
### Load the trained model
model=load_model('model.h5')

##load Scalar encoding, One hot encoding
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('OneHot_Encoder_Geo.pkl','rb') as file:
    OneHot_Encoder_Geo = pickle.load(file)

with open('standed_scaler.pkl','rb') as file:
    standed_scaler = pickle.load(file)

WARNING:tensorflow:From d:\Krish Naik_ML_DL_NLP_Udemy Course\ETNDL_ANNN_CLF\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [6]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [7]:
input_df=pd.DataFrame([input_data])

In [8]:
input_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [9]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])

In [10]:
input_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [11]:
geo=OneHot_Encoder_Geo.transform([input_df['Geography']])

d:\Krish Naik_ML_DL_NLP_Udemy Course\ETNDL_ANNN_CLF\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [12]:
OneHot_Encoder_Geo.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [13]:
geo_df=pd.DataFrame(geo.toarray(),columns=OneHot_Encoder_Geo.get_feature_names_out())

In [14]:
geo_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [15]:
input_df.drop(columns=['Geography'],axis=1,inplace=True)

In [16]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,1,40,3,60000,2,1,1,50000

In [17]:
input_df=pd.concat([input_df,geo_df],axis=1)

In [18]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [19]:
#scalling input_df
input_scaled=standed_scaler.transform(input_df)

In [20]:
#predict churn
prediction=model.predict(input_scaled)

1/1 [==============================] - 0s 206ms/step

In [21]:
prediction_prob=prediction[0][0]

In [22]:
prediction_prob

0.02520765

In [23]:
if prediction_prob > 0.5:
    print('customer is likely to Churn')
else:
    print('customer is not likely to Churn')

customer is not likely to Churn

In [31]:
OneHot_Encoder_Geo.categories_[0]

array(['France', 'Germany', 'Spain'], dtype=object)